<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="VendedorWSPortBinding" />
                <binding name="AdministradorWSPortBinding" />
                <binding name="SedeWSPortBinding" />
                <binding name="FacturaWSPortBinding" />
                <binding name="PedidoWSPortBinding" />
                <binding name="TipoProductoWSPortBinding" />
                <binding name="BoletaWSPortBinding" />
                <binding name="OfertaWSPortBinding" />
                <binding name="ProductoWSPortBinding" />
                <binding name="AlmaceneroWSPortBinding" />
                <binding name="ProveedorWSPortBinding" />
                <binding name="MarcaWSPortBinding" />
                <binding name="RolWSPortBinding" />
                <binding name="ClienteWSPortBinding" />
                <binding name="RolWSPortBinding1" />
                <binding name="BoletaWSPortBinding1" />
                <binding name="AlmaceneroWSPortBinding1" />
                <binding name="ProveedorWSPortBinding1" />
                <binding name="MarcaWSPortBinding1" />
                <binding name="PedidoWSPortBinding1" />
                <binding name="SedeWSPortBinding1" />
                <binding name="FacturaWSPortBinding1" />
                <binding name="OfertaWSPortBinding1" />
                <binding name="ClienteWSPortBinding1" />
                <binding name="AdministradorWSPortBinding1" />
                <binding name="VendedorWSPortBinding1" />
                <binding name="ProductoWSPortBinding1" />
                <binding name="TipoProductoWSPortBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/RolWS"
                binding="basicHttpBinding" bindingConfiguration="RolWSPortBinding"
                contract="CyberiaWS.RolWS" name="RolWSPort" />
            <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/BoletaWS"
                binding="basicHttpBinding" bindingConfiguration="BoletaWSPortBinding"
                contract="CyberiaWS.BoletaWS" name="BoletaWSPort" />
            <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/AlmaceneroWS"
                binding="basicHttpBinding" bindingConfiguration="AlmaceneroWSPortBinding"
                contract="CyberiaWS.AlmaceneroWS" name="AlmaceneroWSPort" />
            <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/ProveedorWS"
                binding="basicHttpBinding" bindingConfiguration="ProveedorWSPortBinding"
                contract="CyberiaWS.ProveedorWS" name="ProveedorWSPort" />
            <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/MarcaWS"
                binding="basicHttpBinding" bindingConfiguration="MarcaWSPortBinding"
                contract="CyberiaWS.MarcaWS" name="MarcaWSPort" />
            <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/PedidoWS"
                binding="basicHttpBinding" bindingConfiguration="PedidoWSPortBinding"
                contract="CyberiaWS.PedidoWS" name="PedidoWSPort" />
            <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/SedeWS"
                binding="basicHttpBinding" bindingConfiguration="SedeWSPortBinding"
                contract="CyberiaWS.SedeWS" name="SedeWSPort" />
            <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/FacturaWS"
                binding="basicHttpBinding" bindingConfiguration="FacturaWSPortBinding"
                contract="CyberiaWS.FacturaWS" name="FacturaWSPort" />
            <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/OfertaWS"
                binding="basicHttpBinding" bindingConfiguration="OfertaWSPortBinding"
                contract="CyberiaWS.OfertaWS" name="OfertaWSPort" />
            <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/ClienteWS"
                binding="basicHttpBinding" bindingConfiguration="ClienteWSPortBinding"
                contract="CyberiaWS.ClienteWS" name="ClienteWSPort" />
            <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/AdministradorWS"
                binding="basicHttpBinding" bindingConfiguration="AdministradorWSPortBinding"
                contract="CyberiaWS.AdministradorWS" name="AdministradorWSPort" />
            <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/VendedorWS"
                binding="basicHttpBinding" bindingConfiguration="VendedorWSPortBinding"
                contract="CyberiaWS.VendedorWS" name="VendedorWSPort" />
            <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/ProductoWS"
                binding="basicHttpBinding" bindingConfiguration="ProductoWSPortBinding"
                contract="CyberiaWS.ProductoWS" name="ProductoWSPort" />
            <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/TipoProductoWS"
                binding="basicHttpBinding" bindingConfiguration="TipoProductoWSPortBinding"
                contract="CyberiaWS.TipoProductoWS" name="TipoProductoWSPort" />
            <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/RolWS"
                binding="basicHttpBinding" bindingConfiguration="RolWSPortBinding1"
                contract="CyberiaWS.RolWS" name="RolWSPort1" />
            <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/BoletaWS"
                binding="basicHttpBinding" bindingConfiguration="BoletaWSPortBinding1"
                contract="CyberiaWS.BoletaWS" name="BoletaWSPort1" />
            <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/AlmaceneroWS"
                binding="basicHttpBinding" bindingConfiguration="AlmaceneroWSPortBinding1"
                contract="CyberiaWS.AlmaceneroWS" name="AlmaceneroWSPort1" />
            <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/ProveedorWS"
                binding="basicHttpBinding" bindingConfiguration="ProveedorWSPortBinding1"
                contract="CyberiaWS.ProveedorWS" name="ProveedorWSPort1" />
            <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/MarcaWS"
                binding="basicHttpBinding" bindingConfiguration="MarcaWSPortBinding1"
                contract="CyberiaWS.MarcaWS" name="MarcaWSPort1" />
            <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/PedidoWS"
                binding="basicHttpBinding" bindingConfiguration="PedidoWSPortBinding1"
                contract="CyberiaWS.PedidoWS" name="PedidoWSPort1" />
            <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/SedeWS"
                binding="basicHttpBinding" bindingConfiguration="SedeWSPortBinding1"
                contract="CyberiaWS.SedeWS" name="SedeWSPort1" />
            <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/FacturaWS"
                binding="basicHttpBinding" bindingConfiguration="FacturaWSPortBinding1"
                contract="CyberiaWS.FacturaWS" name="FacturaWSPort1" />
            <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/OfertaWS"
                binding="basicHttpBinding" bindingConfiguration="OfertaWSPortBinding1"
                contract="CyberiaWS.OfertaWS" name="OfertaWSPort1" />
            <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/ClienteWS"
                binding="basicHttpBinding" bindingConfiguration="ClienteWSPortBinding1"
                contract="CyberiaWS.ClienteWS" name="ClienteWSPort1" />
            <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/AdministradorWS"
                binding="basicHttpBinding" bindingConfiguration="AdministradorWSPortBinding1"
                contract="CyberiaWS.AdministradorWS" name="AdministradorWSPort1" />
            <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/VendedorWS"
                binding="basicHttpBinding" bindingConfiguration="VendedorWSPortBinding1"
                contract="CyberiaWS.VendedorWS" name="VendedorWSPort1" />
            <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/ProductoWS"
                binding="basicHttpBinding" bindingConfiguration="ProductoWSPortBinding1"
                contract="CyberiaWS.ProductoWS" name="ProductoWSPort1" />
            <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/TipoProductoWS"
                binding="basicHttpBinding" bindingConfiguration="TipoProductoWSPortBinding1"
                contract="CyberiaWS.TipoProductoWS" name="TipoProductoWSPort1" />
        </client>
    </system.serviceModel>
</configuration>