<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8.1"/>
    <httpRuntime targetFramework="4.8.1"/>
  </system.web>
  <system.codedom>
    <compilers>
		<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>  
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MarcaWSPortBinding" receiveTimeout="00:01:00" sendTimeout="00:01:00" maxReceivedMessageSize="2147483647" />
        <binding name="ProductoWSPortBinding" receiveTimeout="00:01:00" sendTimeout="00:01:00" maxReceivedMessageSize="2147483647"/>
        <binding name="ProveedorWSPortBinding" receiveTimeout="00:01:00" sendTimeout="00:01:00" maxReceivedMessageSize="2147483647"/>
        <binding name="ComprobantePagoWSPortBinding" receiveTimeout="00:01:00" sendTimeout="00:01:00" maxReceivedMessageSize="2147483647"/>
        <binding name="TipoProductoWSPortBinding" receiveTimeout="00:01:00" sendTimeout="00:01:00" maxReceivedMessageSize="2147483647" />
        <binding name="PersonaWSPortBinding" receiveTimeout="00:01:00" sendTimeout="00:01:00" maxReceivedMessageSize="2147483647"/>
        <binding name="TipoPersonaWSPortBinding" receiveTimeout="00:01:00" sendTimeout="00:01:00" maxReceivedMessageSize="2147483647"/>
        <binding name="SedeWSPortBinding" receiveTimeout="00:01:00" sendTimeout="00:01:00" maxReceivedMessageSize="2147483647"/>
        <binding name="TipoComprobanteWSPortBinding" receiveTimeout="00:01:00" sendTimeout="00:01:00" maxReceivedMessageSize="2147483647"/>
        <binding name="OfertaWSPortBinding" receiveTimeout="00:01:00" sendTimeout="00:01:00" maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/MarcaWS"
        binding="basicHttpBinding" bindingConfiguration="MarcaWSPortBinding"
        contract="CyberiaWS.MarcaWS" name="MarcaWSPort" />
      <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/ProductoWS"
        binding="basicHttpBinding" bindingConfiguration="ProductoWSPortBinding"
        contract="CyberiaWS.ProductoWS" name="ProductoWSPort" />
      <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/ProveedorWS"
        binding="basicHttpBinding" bindingConfiguration="ProveedorWSPortBinding"
        contract="CyberiaWS.ProveedorWS" name="ProveedorWSPort" />
      <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/ComprobantePagoWS"
        binding="basicHttpBinding" bindingConfiguration="ComprobantePagoWSPortBinding"
        contract="CyberiaWS.ComprobantePagoWS" name="ComprobantePagoWSPort" />
      <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/TipoProductoWS"
        binding="basicHttpBinding" bindingConfiguration="TipoProductoWSPortBinding"
        contract="CyberiaWS.TipoProductoWS" name="TipoProductoWSPort" />
      <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/PersonaWS"
        binding="basicHttpBinding" bindingConfiguration="PersonaWSPortBinding"
        contract="CyberiaWS.PersonaWS" name="PersonaWSPort" />
      <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/TipoPersonaWS"
        binding="basicHttpBinding" bindingConfiguration="TipoPersonaWSPortBinding"
        contract="CyberiaWS.TipoPersonaWS" name="TipoPersonaWSPort" />
      <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/SedeWS"
        binding="basicHttpBinding" bindingConfiguration="SedeWSPortBinding"
        contract="CyberiaWS.SedeWS" name="SedeWSPort" />
      <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/TipoComprobanteWS"
        binding="basicHttpBinding" bindingConfiguration="TipoComprobanteWSPortBinding"
        contract="CyberiaWS.TipoComprobanteWS" name="TipoComprobanteWSPort" />
      <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/OfertaWS"
        binding="basicHttpBinding" bindingConfiguration="OfertaWSPortBinding"
        contract="CyberiaWS.OfertaWS" name="OfertaWSPort" />
    </client>
  </system.serviceModel>
	
	
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
