
:root {
    --primary-color: #00205B; /* PANTONE 281 C */
    --secondary-color1: #A6C8E0; /* PANTONE 660 C */
    --secondary-color2: #98AFC7; /* PANTONE 2132 C */
    --secondary-color3: #A2AAAD; /* PANTONE 429 C */
    --secondary-color4: #6C737A; /* PANTONE 430 C */ 
}


body {
    font-family: 'TT Norms', sans-serif;
}

.font-light {
    font-weight: 300;
}

.font-regular {
    font-weight: 400;
}

.font-bold {
    font-weight: 700;
}

.font-extrabold {
    font-weight: 800;
}

.navbar, .footer {
    background-color: var(--primary-color);
}

.highlight-banner, .monthly-offers {
    background-color: var(--secondary-color1);
}

    .highlight-banner h2, .monthly-offers h3 {
        color: var(--secondary-color2);
    }

.category-icon, .featured-products-icon {
    color: var(--secondary-color3);
}

/* Contenedor principal */
.container {
    min-height: 70vh;
}

/* Título del historial de compras */
h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
}

/* Mensaje de historial vacío */
.empty-history-message {
    font-size: 1.5rem;
    color: #555;
    opacity: 0.7;
}

/* Botón de volver habilitado */
.btn-outline-return {
    background-color: transparent; /* Fondo transparente */
    border: 2px solid #007bff; /* Borde azul */
    color: #007bff; /* Texto azul */
    padding: 12px 40px;
    border-radius: 50px; /* Bordes redondeados */
    font-size: 1.1rem;
    cursor: pointer; /* Mostrar que está habilitado */
    transition: background-color 0.3s ease, color 0.3s ease;
}

    /* Efecto hover para el botón habilitado */
    .btn-outline-return:hover {
        background-color: #007bff; /* Fondo azul en hover */
        color: white; /* Texto blanco en hover */
            
    }




