<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8.1" />
    <httpRuntime targetFramework="4.8.1" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="VendedorWSPortBinding" />
        <binding name="AdministradorWSPortBinding" />
        <binding name="SedeWSPortBinding" />
        <binding name="FacturaWSPortBinding" />
        <binding name="PedidoWSPortBinding" />
        <binding name="TipoProductoWSPortBinding" />
        <binding name="BoletaWSPortBinding" />
        <binding name="OfertaWSPortBinding" />
        <binding name="ProductoWSPortBinding" />
        <binding name="AlmaceneroWSPortBinding" />
        <binding name="ProveedorWSPortBinding" />
        <binding name="MarcaWSPortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/VendedorWS"
        binding="basicHttpBinding" bindingConfiguration="VendedorWSPortBinding"
        contract="ServicioWS.VendedorWS" name="VendedorWSPort" />
      <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/AdministradorWS"
        binding="basicHttpBinding" bindingConfiguration="AdministradorWSPortBinding"
        contract="ServicioWS.AdministradorWS" name="AdministradorWSPort" />
      <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/SedeWS"
        binding="basicHttpBinding" bindingConfiguration="SedeWSPortBinding"
        contract="ServicioWS.SedeWS" name="SedeWSPort" />
      <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/FacturaWS"
        binding="basicHttpBinding" bindingConfiguration="FacturaWSPortBinding"
        contract="ServicioWS.FacturaWS" name="FacturaWSPort" />
      <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/PedidoWS"
        binding="basicHttpBinding" bindingConfiguration="PedidoWSPortBinding"
        contract="ServicioWS.PedidoWS" name="PedidoWSPort" />
      <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/TipoProductoWS"
        binding="basicHttpBinding" bindingConfiguration="TipoProductoWSPortBinding"
        contract="ServicioWS.TipoProductoWS" name="TipoProductoWSPort" />
      <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/BoletaWS"
        binding="basicHttpBinding" bindingConfiguration="BoletaWSPortBinding"
        contract="ServicioWS.BoletaWS" name="BoletaWSPort" />
      <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/OfertaWS"
        binding="basicHttpBinding" bindingConfiguration="OfertaWSPortBinding"
        contract="ServicioWS.OfertaWS" name="OfertaWSPort" />
      <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/ProductoWS"
        binding="basicHttpBinding" bindingConfiguration="ProductoWSPortBinding"
        contract="ServicioWS.ProductoWS" name="ProductoWSPort" />
      <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/AlmaceneroWS"
        binding="basicHttpBinding" bindingConfiguration="AlmaceneroWSPortBinding"
        contract="ServicioWS.AlmaceneroWS" name="AlmaceneroWSPort" />
      <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/ProveedorWS"
        binding="basicHttpBinding" bindingConfiguration="ProveedorWSPortBinding"
        contract="ServicioWS.ProveedorWS" name="ProveedorWSPort" />
      <endpoint address="http://localhost:8080/CyberiaStoreWS_Servidor/MarcaWS"
        binding="basicHttpBinding" bindingConfiguration="MarcaWSPortBinding"
        contract="ServicioWS.MarcaWS" name="MarcaWSPort" />
    </client>
  </system.serviceModel>
</configuration>