
/* Estilos generales para la página del detalle del producto */
.producto-detalle-container {
    margin: 40px auto;
    padding: 30px; /* Aumenté el padding para mayor separación interna */
    max-width: 1200px;
}

/* Imagen fija con un tamaño específico */
.producto-imagen img {
    width: 100%;
    max-width: 450px; /* Tamaño máximo más grande */
    height: auto;
    margin-right: 20px; /* Añadí margen para separar la imagen del contenido */
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); /* Sombra más suave */
    border: 1px solid #ddd; /* Borde suave */
}

/* Estilo para la etiqueta de disponibilidad en verde */
.badge.disponible {
    background-color: #28a745; /* Color verde */
    color: white; /* Texto en blanco */
    font-size: 1rem;
    padding: 0.6em 1.2em; /* Aumentar el padding para mejor visibilidad */
    border-radius: 0.25rem;
    display: inline-block;
    margin-bottom: 15px; /* Mayor separación */
    box-shadow: 0px 4px 10px rgba(0, 128, 0, 0.2); /* Añadí sombra suave */
}

/* Estilo para el precio del producto */
.precio {
    color: #e74c3c; /* Color rojo */
    font-size: 1.8rem;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Estilo para el SKU del producto */
.sku {
    color: #666;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

/* Estilo del botón para añadir al carrito */
button.btn {
    padding: 12px 24px;
    font-size: 1.3rem; /* Tamaño de la fuente más grande */
    background-color: #343a40; /* Color oscuro */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Efecto de transición */
}

    button.btn:hover {
        background-color: #555; /* Cambio de color al hacer hover */
    }

/* Estilo para los detalles del producto */
.detalles-producto {
    margin-top: 30px;
}

    .detalles-producto h4 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .detalles-producto ul {
        padding-left: 20px;
    }

        .detalles-producto ul li {
            list-style-type: disc;
            margin-bottom: 5px;
            font-size: 1.1rem; /* Tamaño más grande */
            color: #333; /* Gris oscuro */
        }

/* Ajuste para pantallas pequeñas */
@media (max-width: 768px) {
    .producto-imagen, .producto-detalles {
        text-align: center;
    }

    .producto-detalles {
        margin-top: 20px;
        padding: 0 15px; /* Mejora para pantallas pequeñas */
    }

    .producto-imagen img {
        max-width: 100%;
        margin-right: 0; /* Elimina el margen en pantallas pequeñas */
    }
}


:root {
    --primary-color: #00205B; /* PANTONE 281 C */
    --secondary-color1: #A6C8E0; /* PANTONE 660 C */
    --secondary-color2: #98AFC7; /* PANTONE 2132 C */
    --secondary-color3: #A2AAAD; /* PANTONE 429 C */
    --secondary-color4: #6C737A; /* PANTONE 430 C */
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
}

    .popup-overlay.active {
        visibility: visible;
        opacity: 1;
    }

.popup-content {
    background-color: var(--secondary-color1);
    color: var(--primary-color);
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

    .popup-content h2 {
        background-color: var(--primary-color);
        color: white;
        padding: 10px;
        margin: -20px -20px 20px -20px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        text-align: center;
    }

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: white;
    font-size: 20px;
}

.sede-info {
    background-color: var(--secondary-color2);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid var(--secondary-color3);
}

    .sede-info h3 {
        color: var(--primary-color);
        margin-top: 0;
    }

    .sede-info p {
        margin: 5px 0;
        color: var(--secondary-color4);
    }

/* Contenedor de productos */
.card {
    height: 350px; /* Altura total de la tarjeta */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Contenedor de imagen de la tarjeta */
.card-img-container {
    width: 100%;
    height: 180px; /* Altura fija para todas las imágenes */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #f8f9fa; /* Color de fondo para el contenedor de imagen */
}

    /* Estilos para la imagen dentro del contenedor */
    .card-img-container img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain; /* Mantiene la proporción de la imagen */
    }

/* Estilos para el cuerpo de la tarjeta */
.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Título de la tarjeta con límite de líneas */
.card-title {
    font-size: 1rem;
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limita el texto a 2 líneas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 3em; /* Ajusta para permitir exactamente 2 líneas de texto */
    margin-bottom: 5px;
    text-align: center;
    white-space: normal;
}

/* Texto del precio en la tarjeta */
.card-text {
    font-size: 1rem;
    font-weight: bold;
    color: #e74c3c;
}